<div id="contact">
    <h1>{{title}}</h1>
    <div class="contact-container">
        <a href="mailto:anajulianeiverth@gmail.com">
            <svg viewBox="0 0 1024 1024" class="contact-icon">
                <path
                  d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                ></path>
            </svg>
            <span>anajulianeiverth@gmail.com</span>
        </a>
        <a href="https://www.linkedin.com/in/anajulianeiverth/">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" />
            <span>Ana Julia Neiverth</span>
        </a>
        <a href="https://github.com/anajvn">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
            <span>Anajvn</span>
        </a>
    </div>
</div>
