#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

h1{
    font-family: Overpass;
    font-size: 1.8em;
    color: #4682b4;
    margin-bottom: 20px
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #3a3c3d;
    border-radius: 10px;
    padding: 15px;
    max-width: 90%;
}

svg, img{
    width: 30px;
    height: 30px;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3a3c3d;
    font-family: 'Overpass', sans-serif;
    font-size: 1em;
    padding: 8px 0;
    margin: 10px;
}

span{
    padding-left: 10px;
}

a:hover{
    border-bottom: 1px solid #4682b4;
}