<div class="navbar-container">
    <span class="navbar-heading">Ana Julia Neiverth</span>

    <!-- Large screen -->

    <div class="links-container">
    <a href="#profile" class="navbar-link">{{navbarWords[indexByLanguage][0]}}</a>
    <a href="#experience" class="navbar-link">{{navbarWords[indexByLanguage][1]}}</a>
    <a href="#projects" class="navbar-link">{{navbarWords[indexByLanguage][2]}}</a>
    <a href="#contact" class="navbar-link">{{navbarWords[indexByLanguage][3]}}</a>
    </div>
</div>