.navbar-container {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar-heading {
    color: #4682b4;
    font-size: 24px;
    font-family: Overpass;
    font-weight: 700;
    padding-right: 20px;
}

.links-container {
    display: flex;
    align-items: flex-start;
}

.navbar-link {
    text-decoration: none;  
    color: #3a3c3d; 
    margin-right: 1.5rem;
    border-bottom: 2px solid transparent;
    font-size: 24px;
    font-family: Overpass;
    font-weight: 700;
}

.navbar-link:hover {
    border-bottom-color: #4682B4;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar-heading {
        margin-bottom: 1rem;
    }

    .links-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-link {
        margin: 0;
        margin-bottom: 1rem;
    }
}