<div id="profile" class="profile">
    <div class="profile-text-container">
        <h1 class="profile-heading">{{profileText[indexByLanguage].title}}</h1>
        <p class="profile-text" >{{profileText[indexByLanguage].text}}</p>
        <br>
        <a href="https://drive.google.com/file/d/1Wl83mPo3OG_l2PcMeAN6zdJzwPRZFI6X/view"
            target="_blank">
            <button>{{profileText[indexByLanguage].resume}}</button>
        </a>
        <a href="https://www.linkedin.com/in/anajulianeiverth/?locale=en_US"
            target="_blank">
            <button>{{profileText[indexByLanguage].contact}}</button>
        </a>
        <a href="https://github.com/anajvn"
            target="_blank">
            <button>{{profileText[indexByLanguage].projects}}</button>
        </a>
    </div>
    
    <img src="assets\profile.png"
    alt="profile image"
    class="profile-image"
    />
</div>