.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4682b4;
    padding: 2.5rem;
}

.language-button{
    display: flex;
    margin-bottom: 40px;
}

.language-button img{
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
}

button{
    padding: 0;
    margin: 0 10px;
    border: none;
    background-color: #4682b4;
}

small{
    color: #fff;
}